<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:25%;"><span class="sort" data-sort="RECORDID">RECORDID</span></th>
			<th style="width:25%;"><span class="sort" data-sort="Name_Deutsch">Name_Deutsch</span></th>
			<th style="width:25%;"><span class="sort" data-sort="kg_CO2">kg_CO2</span></th>
			<!-- <th style="width:25%;"><span class="sort" data-sort="Autor">Autor</span></th> -->
			<th style="width:25%;"><span class="sort" data-sort="File">File</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for edb in site.data.edbs %}
		<tr>
			<td class="RECORDID">{{ edb[1].RECORDID }}</td>
			<td class="Name_Deutsch">{{ edb[1].Name_Deutsch }}</td>
			<td class="kg_CO2">{{ edb[1].kg_CO2 }}</td>
			<!-- <td class="Autor">{{ edb[1].Autor }}</td> -->
			<td class="File"><a href="http://prose.io/#fkostadinov/fkostadinov.github.io/edit/master/_data/edbs/{{ edb[0] }}.json">{{ edb[0] }}.json</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['RECORDID', 'Name_Deutsch', 'kg_CO2', 'File']
};

var entryList = new List('entry-list', options);

</script>